<div class="last_element__container">

    <h2> Les dernières découvertes:</h2>

    <div class="last_element__content">

        <div class="last_element">
            <div class="last_element__description">
                <h3>Persona 5: Royal</h3>
                <p>Switch</p>
                <p>Sortie: 21/10/2022</p>
            </div>
            <img src="../../../../assets/img/games/p5_royal_switch.jpg" alt="Persona 5 Version Royal sur Nintendo Switch" />
        </div>

        <div class="last_element__break">

        </div>

        <div class="last_element">
            <div class="last_element__description">
                <h3>Persona 5: Royal</h3>
                <p>Switch</p>
                <p>Sortie: 21/10/2022</p>
            </div>
            <img src="../../../../assets/img/games/p5_royal_switch.jpg" alt="Persona 5 Version Royal sur Nintendo Switch" />
        </div>


    </div>
</div>
