<div class="last_games__container">

    <h2> Les derniers jeux:</h2>

    <section>
      <!--LIST OF ELEMENTS-->
      <ul class="list_game">

        <!--ELEMENT-->
        <li>
          <div class="list_game__element">
            <div class="game_element">
              <div class="game_element__border Switch"></div>
              <p >Persona 5 Royal</p>
              <p>Switch</p>
              <p>21/10/2022</p>
              <p>?/10</p>
            </div>
            <!--DESCRIPTION ELEMENT-->
            <div class="game_element__description display">
              <p>Au printemps de sa deuxième année de lycée, Ren Amamiya intègre le lycée Shûjin. Suite à un évènement étrange, la Persona de Ren s'éveille. Il fonde avec ses nouveaux compagnons l'organisation des « Voleurs Fantômes ». Ensemble, ils combattent et corrigent les cœurs corrompus et pervers des adultes.</p>
            </div>
          </div>
          <button (click)="showDescription($event)">?</button>
        </li>

        <!--ELEMENT-->
        <li>
          <div class="list_game__element">
            <div class="game_element">
              <div class="game_element__border Vr"></div>
              <p>Beat Saber</p>
              <p>Vr</p>
              <p>01/05/2018</p>
              <p>9/10</p>
            </div>
            <!--DESCRIPTION ELEMENT-->
            <div class="game_element__description display">
              <p>Beat Saber est un jeu de rythme similaire dans ses bases à Guitar Hero. Dans chaque niveau, des cubes arrivent face au joueur qui doit, à l'aide de sabres, les découper dans la bonne direction, avec le bon sabre et en rythme. À chaque niveau est attribué une certaine difficulté, allant de "Facile" à "Expert+".</p>
            </div>
          </div>
        <button (click)="showDescription($event)">?</button>
        </li>

      </ul>
    </section>


</div>
